@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Nunito Sans", sans-serif;
    letter-spacing: 0.1em;
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: hidden;
}

input:focus,
textarea:focus {
    outline: 0;
}

input:-webkit-autofill {
    -webkit-text-fill-color: #fcfeff !important;
    -webkit-box-shadow: 0 0 0 30px #213371 inset !important;
    font-family: "Nunito Sans", sans-serif !important;
}

.product-swiper {
    @apply xl:w-11/12 w-4/5;
}
.product-swiper-slide {
    @apply flex justify-center items-center w-full aspect-[5/3] rounded-2xl xl:rounded-3xl;
}

@layer base {
    @font-face {
        font-family: "TT Ramillas";
        src: url("/assets/fonts/TT-Ramillas-Regular.ttf") format("truetype");
        font-weight: 400;
        font-style: normal;
    }
    @font-face {
        font-family: "TT Ramillas";
        src: url("/assets/fonts/TT-Ramillas-Bold.ttf") format("truetype");
        font-weight: 700;
        font-style: normal;
    }
    @font-face {
        font-family: "TT Ramillas";
        src: url("/assets/fonts/TT-Ramillas-ExtraBold.ttf") format("truetype");
        font-weight: 800;
        font-style: normal;
    }
    @font-face {
        font-family: "TT Ramillas";
        src: url("/assets/fonts/TT-Ramillas-ExtraBold-Italic.ttf")
            format("truetype");
        font-weight: 800;
        font-style: italic;
    }
}

@layer components {
    .c-container {
        @apply px-4 sm:px-8 md:px-12 lg:px-16 xl:px-20 2xl:px-24;
    }

    .text-subparagraph {
        @apply text-xs sm:text-sm md:text-base;
    }

    .text-paragraph {
        @apply text-sm sm:text-base md:text-lg;
    }

    .text-subtitle {
        @apply text-base sm:text-lg md:text-xl;
    }

    .text-title {
        @apply text-lg sm:text-xl md:text-2xl;
    }

    .text-subheading {
        @apply text-xl sm:text-2xl md:text-3xl;
    }

    .text-heading {
        @apply text-2xl sm:text-3xl md:text-4xl;
    }

    .header {
        @apply h-20 sm:h-24 md:h-32 bg-center bg-cover flex items-center justify-center text-3xl sm:text-4xl md:text-5xl text-custom-white;
    }

    .product-type {
        @apply pt-8 sm:pt-10 xl:pt-12;
    }
}
